table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 400px;
  font-size: larger;
}
table td {
  border: 1px solid black;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
tr, td {
  padding: 50px 50px 50px 60px;
}
tr {
  height: 150px;
}